@charset "UTF-8";

body{
    
    padding: 5%;

}

div.apresentacao{

    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}

figure{

    height: 200px;
    width: 200px;

}

figure.apresentacao-imagem{

    box-shadow: 1px 1px 10px 2px black;
    border-radius: 50%;

}

figure.apresentacao-imagem img{

    border-radius: 50%;
    display: flex;

}

div.apresentacao-text{

    padding: 2%;
    box-shadow: 1px 1px 10px 1px black;
    padding: 10px;

}

div.apresentacao-text ul{

    display: flex;
    justify-content: space-arround;

}

div.apresentacao-text li{

    margin-left: 10px;

}

div.apresentacao-text button{

    box-shadow: 1px 1px 4px black;    
    height: 100%;
    width: 120%;
    color: white;
    background-color: grey;
    border: solid 5px grey;
    border-radius: 20px;

}

div.apresentacao-text button:hover{

    
    transition: 0.5s;
    transform: scale(1.1);

}

div.pontosprincipais{

    text-align: center;
    background-color: rgb(231, 231, 231);
    box-shadow: 1px 1px 5px black;

}

div.pontosprincipais h2{


    background-color: rgb(168, 168, 168);
    margin: 10px 30px;
    color: white;
    box-shadow: 1px 1px 4px black;

}