@charset "UTF-8";

body{
    
    padding: 5%;

}

div.apresentacao{

    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}

figure{

    height: 200px;
    width: 200px;

}

figure.apresentacao-imagem{

    box-shadow: 1px 1px 10px 2px black;
    border-radius: 50%;
    transition: 0.5s;

}

figure.apresentacao-imagem img{

    border-radius: 50%;
    display: flex;

}

figure.apresentacao-imagem:hover{

    transform: scale(1.2);

}

div.apresentacao-text{

    padding: 2%;
    box-shadow: 1px 1px 10px 1px black;
    padding-right: 30%;
    border-radius: 20px;
    transition: 0.5s;

}

div.apresentacao-text:hover{

    transform: scale(1.1);

}

div.apresentacao-text ul{

    display: flex;
    justify-content: space-arround;

}

div.apresentacao-text li{

    margin-right: 10%;

}

button.Instagram{

    box-shadow: 1px 1px 4px black;    
    height: 35px;
    width: 98px;
    color: white;
    background-color: rgb(248, 47, 74);
    border: solid 5px rgb(248, 47, 74);
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;

}

button.GitHub{

    box-shadow: 1px 1px 4px black;    
    height: 35px;
    width: 98px;
    color: white;
    background-color: rgb(25, 25, 36);
    border: solid 5px rgb(25, 25, 36);
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;

}

button.LinkedIn{

    box-shadow: 1px 1px 4px black;    
    height: 35px;
    width: 98px;
    color: white;
    background-color: rgb(39, 96, 255);
    border: solid 5px rgb(39, 96, 255);
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;

}

div.apresentacao-text button:hover{

    transform: scale(1.2);

}

div.pontosprincipais{

    text-align: center;
    background-color: rgb(231, 231, 231);
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
    transition: 0.5s;

}

div.pontosprincipais:hover{

    transform: scale(1.1);

}

div.pontosprincipais h2{


    background-color: rgb(168, 168, 168);
    margin: 10px 30px;
    margin-top: 10px;
    color: white;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    transition: 0.5s;

}

div.pontosprincipais h2:hover{

    transform: scale(1.05);

}