@charset "UTF-8";

body{
    
    padding: 5%;

}

div.apresentacao{

    display: flex;
    justify-content: space-between;
    
}

figure{

    height: 200px;
    width: 200px;

}

figure.apresentacao-imagem{

    box-shadow: 1px 1px 4px 2px black;
    border-radius: 50%;

}

figure.apresentacao-imagem img{

    border-radius: 50%;    

}

div.pontosprincipais{

    text-align: center;
    background-color: rgb(231, 231, 231);
    box-shadow: 1px 1px 5px black;

}

div.pontosprincipais h2{


    background-color: rgb(168, 168, 168);
    margin: 10px 30px;
    color: white;
    box-shadow: 1px 1px 4px black;

}